<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete a user</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="topnav">
        <a href="/">Home</a>
        <a href="/create">Create user</a>
    </div>
    <div class="form">
        <form action="/delete-user" method="POST">
            <fieldset>
                <legend>Are you sure delete this User?</legend>
                 <div class="input-group d-none">
                    <label>Id: </label>
                    <input type="text" name="id" value="<%= userUpdate.id %>"/>
                </div>
                <div class="input-group">
                    <label>Email: </label>
                    <input type="text" name="email" value="<%= userUpdate.email %>"/>
                </div>
                <div class="input-group">
                    <label>Name: </label>
                    <input type="text" name="name", value="<%= userUpdate.name %>"/>
                </div>
                <div class="input-group">
                    <label>City: </label>
                    <input type="text" name="city", value="<%= userUpdate.city %>"/>
                </div>
                <div>
                    <button class="btnConfirm">Confirm</button>
                </div>
            </fieldset>
        </form>
    </div>
</body>
</html>